<h1></h1>

<form class="form-signin">
    <div class="well">
        <fieldset>
            <legend data-bind="text: title"></legend>
            <input type="text" class = "span6" placeholder = "Username" />
            <input type="text" class = "span6" placeholder = "Password" />
            <label class="checkbox">
                <div><input type="checkbox" /></div> Remember Me?
            </label>
            <div>
                <input type="submit" value="Log in" class="btn btn-primary btn-large" />
            </div>
        </fieldset>
    </div>
    <p><a href="#" class = "btn btn-info">Register</a> if you don't have an account.</p>
</form>