<div class="container">
<div class="page-header">
    <h1>Orders List   <small>these records utilizes DataTable.js and populated with Knockout.js observable array...</small></h1>
</div>

<table data-bind="dataTable: {data: orders, options: { aoColumns: [ 
                                                                    { sTitle: 'Order#', mData:'OrderID'},
                                                                    { sTitle: 'Date Ordered', mData: 'OrderDate' },
                                                                    { sTitle: 'Customer', mData:'ShipName'},
                                                                ],
                                                        aoColumnDefs: [
                                                            {  
                                                                aTargets : [1], 
                                                                mRender: function ( data, type, full ) {
                                                                    if(data){
                                                                        var mDate = moment(data);
                                                                        return (mDate && mDate.isValid()) ? mDate.format('L') : '';
                                                                    }
                                                                    return '';
                                                                }
                                                            }
                                                        ]
                                                    }
                            }"
    cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" >
    <thead>
    </thead>
    <tbody>
    </tbody>
</table>

</div>
